DesktopmMascot.sln
/DesktopmMascot/Release
/DesktopmMascot/Debug
/DesktopmMascot/DesktopmMascot.vcxproj
/DesktopmMascot/DesktopmMascot.vcxproj.filters
/DesktopmMascot/DesktopmMascot.vcxproj.user
/Release
/Debug
/.vs
/DesktopmMascot/anim.gif
/DesktopmMascot/Log.txt